body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,102,1) 49%, rgba(118,8,135,1) 100%, rgba(0,212,255,1) 100%);
    color:#fff;
  }

  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin:0 auto;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  #root {
    margin:0 auto;
  }
  